.title {
  @include caption-heading;

  color: var(--text-primary);
  width: 350px;
  display: flex;
  align-items: center;
  gap: 80px;
  margin-left: -83px;

  &-decoration {
    height: 120px;
    min-width: 5px;
    background: linear-gradient(var(--text-blue), var(--text-pink));
  }
}
